.about-container {
    background-color: black;
    color: white;
    display: flex;
}

.desc-buscar{
    display:grid;
    width: 50%;
    padding: 0 15px 0 15px;

}

.desc-buscar > h3 {
    font-size: 24px;
    margin-bottom: 30px;
    align-items: center;
    display: block;
    justify-content: center;
    margin: auto;
}

.desc-buscar > p {
    line-height: 1.5 ;
    text-align: center;
}

.about-img {
    width: 50%;
    overflow: hidden;
    align-items: center;
    display: block;
    justify-content: center;
    margin: auto;
}