.card{
    margin: 20px;
    width: 100%;
    background-color: #F2EDDB;
    justify-content: center;
    justify-items: center;
    display:grid;
    color: #10223D;
    padding: 1px;
}

.card-desc{
    display:grid;
    width:90%;
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: #10223D;
    background-color: #F2EDDB;
}
.card-title {
    margin: auto;
    text-align: center;
    font-size: 22px;
}
.card-materia {
    text-align: center;
    font-size: 20px;
}
.card-raiting {
    margin-top: auto;
    align-self: center;
    justify-self: center;
}