.card{
    margin: 20px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display:grid;
    padding: 15px;
    color: white;
    border: 1px;
}

.card-desc{
    display:grid;
    width:90%;
    align-items: center;
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: black;
}
.card-title {
    margin: auto;
    text-align: center;
    font-size: 22px;
}
.card-materia {
    text-align: center;
    font-size: 20px;
}
.card-raiting {
    margin-top: auto;
    align-self: center;
    justify-self: center;
}