.select_join {
    width: 170px;
    height: 38px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
    border: #FEFEFE 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    
  }
  .select_join select {
    background: transparent;
    width: 170px;
    font-size: 50px;
    color:grey;
    border: 0;
    border-radius: 0;
    height: 28px;
    -webkit-appearance: none;
  }
  .select_join select:focus {
    outline: none;
  }